.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  transition: transform 0.2s ease-in-out;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  position: relative;
}

.tile {
  width: 100px;
  height: 100px;

  font-size: 24px;
  border-radius: 8px;
  transition: transform 0.2s ease, background-color 0.2s ease;
  animation-duration: 0.6s !important;
}
